<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSave(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="student">Student</label>
            <input type="text" name="student" id="student" class="form-control" ngModel>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
        </div>
      </div>
    </form>
  </div>
</div>