<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

  <h2>Edit Client</h2>
  <table>
    <Tr>
      <td>Name:</td>

     <td>     <input type="text"  formControlName="name" name="name"> </td>
    </Tr>
    <tr>
      <td>
        Phone:
      </td>
      <td>
        <input type="text" formControlName="phone" name="phone">
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        <input type="text" formControlName="email" name="email">
      </td>
    </tr>
    <tr>
      <td>
        Rate:
      </td>
      <td>
        <input type="text" formControlName="rate" name="rate">
      </td>
    </tr>  
    <tr>
      <td>
        Notes:
      </td>
      <td>
        <textarea rows="3" cols="20" formControlName="notes"></textarea>
      </td>
    </tr>  
    <tr>
      <td>
        Initial Synopsis:
      </td>
      <td>
        <textarea rows="3" cols="20" formControlName="initialSynopsis"></textarea>
      </td>
    </tr>                    
  </table>


  <br/>

  <a routerLink="/client" >Return to List</a>

  <button type="submit">Save</button>


</form>